.parent__container {
    width: 100%;
    position: relative;
}
.report__preview-container {
    width: 210px;
    margin: 0 auto;
}
.view-button {
    color: #fff;
    background: #3498eb;
    margin: 0 0 10px 0;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      background: #34abeb;
    }
}
.report__thumbnail-wrap {
    width: 100%;
    height: 250px;
}
.report__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
